body{
    background-color: black;
}
img {
    object-fit: cover;
}
.lnh{
    height: 1px;
    background-color: rgb(100, 100, 100);
}
#logo1{
   border-radius: 100%; 
}
#img{
padding: 10px;
border-radius: 15%;
}
#x{
    text-align: center;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}#gml{
   color: white; 
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   padding: 75px;
   margin-top:-87px;
   margin-left:65px;
}
#esc{
    padding: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top:-135px;
    margin-left:130px;
     display: flex;
    align-items: center;
}
#rzc{
    margin-top: 12px;
    gap: 20px;
     margin-left: auto
}
.ft1{
    gap: 20px;
}
#rb {
  display: inline-block;
  border: 1px solid white;
  border-radius: 20px;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  height: -1000px;
}
.icons{
display: flex;
justify-content: space-between;

}
#icn1{
    padding: 10px;
    gap: -50px;
}
#icn2{
padding: 10px;
}
#icn3{
    padding: 10px;
}
#cnf{
 margin-left:7px;
 color: white;
}
#rp{
color: rgb(255, 255, 255);
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
#rma{
    color: rgb(0, 157, 223);
}
.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
   justify-content: center;
}
.btn-info{
    background-color: rgb(0, 157, 223);
}
.btn-maior{
width: 300px;        
height: 60px;        
font-size: 20px;
border-radius: 15px;
}
.logCenter{
    flex-direction: column;
    font-size: larger;
    text-align: center;
}
