body{
    background-color: black;
}
#logo1{
   border-radius: 100%; 
}
.lnh{
    height: 1px;
    background-color: rgb(100, 100, 100);
}
#tt{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
   justify-content: center;
}
.btn-info{
    background-color: rgb(0, 157, 223);
}
.btn-maior{
width: 300px;        
height: 60px;        
font-size: 20px;
border-radius: 15px;
}
.logCenter{
    font-size: larger;
    text-align: center;
}
.icons{
    display: flex;
    justify-content:space-between;
}
#icn1{
    padding: 10px;
    gap: -50px;
    margin-top: 10px;
}
#icn2{
padding: 10px;
margin-top: 10px;
}
#icn3{
    padding: 10px;
    margin-top: 10px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}
#cnf{
 margin-left:4px;
 color: white;
}
.esp{
padding:0px ;
}
#rp{
    color: rgb(0, 157, 223);
}